.chrome-extension-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50px;
  border: none;
  visibility: hidden;
  background-color: #aaa;
  mix-blend-mode: difference;
  z-index: calc(Infinity);
  opacity: 0;
  cursor: pointer;
  transition: 0.4s;

  &[data-is-show="true"] {
    visibility: visible;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  > img {
    width: 24px;
    aspect-ratio: 1;
    -webkit-user-drag: none;
  }
}
