.chrome-extension-to-top {
  /* 別のスタイルが効かないように */
  all: initial !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: fixed !important;
  bottom: 40px !important;
  right: 40px !important;
  width: 40px !important;
  aspect-ratio: 1 !important;
  border-radius: 50px !important;
  border: none !important;
  visibility: hidden !important;
  background-color: #aaa !important;
  mix-blend-mode: difference !important;
  z-index: calc(Infinity) !important;
  opacity: 0 !important;
  cursor: pointer !important;
  transition: 0.4s !important;

  &[data-is-show="true"] {
    visibility: visible !important;
    opacity: 1 !important;
  }

  &:focus {
    outline: none !important;
  }

  > img {
    all: initial !important;
    width: 24px !important;
    aspect-ratio: 1 !important;
    -webkit-user-drag: none !important;
  }
}
